// Make the blog width a little bit wider.
:root {
  --notion-max-width: 800px;
}

@media (max-width: 1536px) {
  :root {
    --notion-max-width: 700px;
  }
}

// Reduce the notion blog padding on small screens.
.notion-page {
  padding-left: calc(min(0.25rem, 8vw));
  padding-right: calc(min(0.25rem, 8vw));
}

// Unset font-weight cuz why
.notion-title,
.notion-h {
  font-weight: unset;
}

// Hide the navigational breadcrumbs, we don't need 'em.
.notion-header {
  display: none;
}

// Make the notion rendering background transparent (i.e. leverage the site background instead)
.notion-app {
  background: none;
}

// Set the colors
.notion-title,
.notion-h {
  color: var(--color-primary);
}

.notion-link {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.notion-text {
  color: var(--color-body);
}

.notion-callout-text > .notion-text,
blockquote {
  color: var(--color-body);
}

.notion-external-mention .notion-external-title {
  color: var(--color-accent);
}

// Make the page titles a little smaller
.notion-title {
  font-size: 2.5rem;
}

@media (max-width: 1024px) {
  .notion-title {
    font-size: 2.3rem;
  }
}

.notion-quote {
  font-size: unset;
}

// Adjust spacing in blog posts
.notion-h + .notion-text {
  margin-top: 0.4rem;
}

.notion-h + .notion-asset-wrapper,
.notion-h + .notion-row {
  margin-top: 1.3rem;
}

.notion-h + .notion-external {
  margin-top: 0.7rem;
}

.notion-text + .notion-text {
  margin-top: 0.4rem;
}

.notion-text + .notion-asset-wrapper,
.notion-text + .notion-row,
.notion-text + .notion-quote,
.notion-quote + .notion-row {
  margin-top: 1.3rem;
}

.notion-asset-wrapper + .notion-text,
.notion-row + .notion-text,
.notion-row + .notion-quote,
.notion-quote + .notion-text {
  margin-top: 1.3rem;
}

.notion-external-block-desc {
  padding-top: 0;
}

.notion-external-block {
  padding-top: 10px;
  padding-bottom: 8px;
}

.notion-callout-text > .notion-text:first-of-type {
  margin-top: 0.6em;
}

.notion-callout-text > .notion-list + .notion-text:first-of-type {
  margin-top: 0;
}

// Make callouts a little bit prettier.
.notion-callout {
  border-radius: 5px;
  border: none;
  margin-block: 1rem;
  padding-top: 20px;
}

// Make captions a little bit prettier.
.notion-asset-caption {
  color: var(--color-caption);
  opacity: 0.7;
  text-align: center;
}

// Make hr visible.
.notion-hr {
  border-top: 1px solid #e5e7eb;
}

// Fix video formatting.
.notion-asset-wrapper-video > div {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
}
