.notion-header {
  display: none;
}

.notion-title,
.notion-h {
  color: var(--color-primary);
}

:root {
  --notion-max-width: 800px;
}

.notion-link {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.notion-callout {
  border-radius: 5px;
  border: none;
  margin-block: 1rem;
  padding-top: 20px;
}

.notion-app {
  background: none;
}

.notion-text {
  color: var(--color-body);
}

.notion-callout-text > .notion-text,
blockquote {
  color: var(--color-body);
}

.notion-asset-caption {
  color: var(--color-caption);
  opacity: 0.7;
}
