// Felicette Typeface
@each $style in ("Bold", "Extrabold", "Light", "Medium", "Regular", "Thin") {
  @font-face {
    font-family: "ST Felicette #{$style}";
    src: url("https://fonts-priv.vercel.app/rj03j0fg2gh32gh20r012rj10fg/Felicettev0.2-#{$style}.otf");
  }
}

// Monochromic Typeface
@each $style
  in ("Bold", "SemiBold", "Medium", "Regular", "Thin", "ExtraLight", "Light")
{
  @font-face {
    font-family: "ST Monochromic #{$style}";
    src: url("https://fonts-priv.vercel.app/iaohe8rq2rh2981rt901thf8g032038gh/STMonochromicv.01-#{$style}.otf");
  }
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit_Complete/Fonts/TTF/Outfit-Variable.ttf")
    format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

:root {
  font-weight: 400;
  font-size: 1em;
  color: var(--color-primary);
}

p,
a,
span,
ul,
ol,
input,
label,
button,
tr,
.notion-text,
figcaption {
  font-family: "ST Felicette Regular";
  font-variation-settings: "wght" 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.t1,
.t2,
.t3,
.t4,
.t5,
.t6,
.t7,
.t8 {
  font-family: "ST Felicette Medium";

  a,
  span {
    font-family: "ST Felicette Medium";
  }
}

.t1 {
  @apply text-5xl;
}

.t2 {
  @apply text-4xl;
}

.t3 {
  @apply text-3xl;
}

.t4 {
  @apply text-2xl;
}

.t5 {
  @apply text-xl;
}

.t6 {
  @apply text-lg;
}

.t7 {
  @apply text-base;
}

.t8 {
  @apply text-sm;
}
